html {
    /* Desktop font is slightly bigger than all other versions. */
    font-size:100%; /* We use REM, this changes font size globally. */
    color:#000;
}


body, .F_Normal {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    word-wrap: break-word;
}

.F_ColorHighlight {
    color: #FFEA00;
}

@media (max-width:992px){ /* Medium Screens*/
    html {
        font-size:80%; /* We use REM, so this changes font size globally. */
    }
}

@media (max-width:600px){ /* We use REM, this changes font size globally. */
    html {
        font-size:80%;
    }
}

.F_Bold {
    font-weight:bold;
}

.F_Light {
    color: #FFF;
}

.F_Dark {
    color: #000;
}

.F_Underline {
    text-decoration: underline;
}

.F_Biggest {
    font-size: 2.4rem;
}

.F_Bigger {
    font-size: 2rem;
}

.F_Big {
    font-size:1.5rem;
}

.F_Small {
    font-size:.85rem;
}

.F_Smaller {
    font-size:.75rem;
}

.F_Smallest {
    font-size:.7rem;
}

.F_Left {
    text-align:left;
}

.F_Center {
    text-align:center;
}

.F_Right {
    text-align:right;
}

.F_Green {
    color:#080;
}

h1 {
    color: #FFF;
    font-size: 2.4rem !important;
    font-family: Helvetica, Arial, sans-serif !important;
    text-align: center;
    margin: 0;
}