/* CSS comment */
/* CSS selectors */
/* tag.class */
/* tag#id */
/* http://www.w3schools.com/cssref/css_selectors.asp */

div#FooterWrapper {
    min-height:100vh; /* We wrap everything but footer in a div full page
                      height to not worry about footer height cleanly */
}

.w3-col.c1 {
    width:100%;
}

.w3-col.c2 {
    width:50%;
}

.w3-col.c3 {
    width:33.33333%;
}

.w3-col.c4 {
    width:25%;
}

.w3-col.c5 {
    width:20%;
}

.w3-col.c6 {
    width: 16.66666%;
}

.w3-col.c7 {
    width: 14.28571%;
}