body {
    background-image: linear-gradient(to bottom, #FFF 30%, #2040FF);
    background-size:cover;
}

/* Links */
a {
    margin:0;
    padding:0;
    text-decoration: none;
}

a:hover {
    color: #FF0000;
}

.T_MarginTB, .T_MarginT {
    margin-top:.5vh;
}

.T_MarginTB, .T_MarginB {
    margin-bottom:.5vh;
}

.T_PaddingLR, .T_PaddingL {
    padding-left:.5vw;
}

.T_PaddingLR, .T_PaddingR {
    padding-right:.5vw;
}

.T_List {
    background-color: #FFEA00;
    border:1px solid #FFEA00;
    color: #FFF;
}

.T_ListItem {
    display:block;
    width:100%;
    padding:5px 5px 5px 5px;
    margin-top:1px; /*1px border between entries. */
    background-color:#000;
    font-weight:bold;
}

.T_Even {
    background: linear-gradient(to bottom, #F00, #FE0);
    color: #000;
}

.T_GalleryPhoto {
    display:none;
    max-width:100%;
    max-height:100%;
    width:auto;
    height:auto;
    position: absolute;  
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto!important;
}

div#T_Header {
    width:100%;
    min-height:12vh;
}

div#PageContent {
    background-color: rgba(0,0,0,.2);
    padding: 5px;
    color:#000;
    font-size:1.4rem;
    overflow:hidden;
}

.T_PageHeader {
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,255,.5)), url('../Media/SafetyLines.png');
    color: #000;
    text-align: left;
    padding-left: 2vw;
    font-weight:bold;
    margin-top:4vh;
}

.T_Buttons {
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,255,.90)), url('../Media/SafetyLines.png');
    color: #F00;
    text-align: center;
    font-weight:bold;
    cursor:pointer;
}

img.HeaderImage {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:1vh !important;
    height:auto;
    width:100%;
}

div.TopLinksContainer {
    display: block;
    width: 100%;
    /* padding-bottom: 5vh; */ /* To show background */
    /*background-image: url('../Media/SafetyLines.png'); */
    font-weight:bold;
    font-size:1.5rem;
    color:#000;
}

div.TopLinksItem {
    padding:.1vw 0 .1vw 0 !important;
    margin:0px !important;
    transition:.5s;
    background-color:#FFF !important;
    color:#000;
    cursor:pointer;
    font-size: 1rem;
}

div.TopLinksItem:hover {
    transition:.25s;
    background-color:#00C !important;
    color:#FFF;
}

div.TopLinksItemSelected {
    padding:.1vw 0 .1vw 0 !important;
    margin:0px !important;
    transition:.5s;
    cursor:pointer;
    font-size: 1rem;
    background-color:#00C !important;
    color:#FFF;
}

input:focus, textarea:focus, select:focus {
    outline:none;
    border:2px solid #F00 !important;
}


img.WebsiteLinks {
    margin-top:1vh;
    margin-bottom:1vh;
    width:100%;
    height:auto;
}

span.price {
    float:right;
}

div.footer {
    background-color:#000;
    color:#FFF;
    border-top-left-radius: 5px;
    padding:12px 15px 12px 15px;
    margin-top:2vh;
}

/* Mobile changes */
@media (max-width:600px){
    div.footer {
        text-align:center;
    }
    span.footer {
        display:block;
        width:100%;
        text-align:center;
    }
    .T_PageHeader {
        background-image: linear-gradient(to right, rgba(0,0,0,255) 30%, rgba(0,0,0,.65)), url('../Media/SafetyLines.png');
    }
    .TopLinksItem {
        font-size:1.4rem!important;
    }
    .TopLinksItemSelected {
        font-size:1.4rem!important;
    }
    .T_ListItem {
        font-size:1.25rem!important;
    }
}